@font-face {
	font-family: 'Noto Sans';
	src: url('./assets/fonts/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: hsl(30, 20%, 97%);
}

#app {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#search-bar {
	padding: 7px;
	font-size: 12px;
	margin-bottom: 5px;
	background-color: hsl(30, 20%, 99%);
	border: 1px solid hsl(30, 20%, 90%);
	border-top: 2px solid hsl(30, 20%, 90%);
	border-radius: 4px;
}

#header {
	position: -webkit-sticky;
	/* For Safari */
	position: sticky;
	top: 0;
	z-index: 1000;
}

#character-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
	gap: 5px;
	/* padding: 5px; */
	max-height: calc(100vh - 57px);
	overflow-y: auto;
}

.character {
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	padding: 5px;
	background-color: hsl(30, 20%, 99%);
	border: 1px solid hsl(30, 20%, 90%);
	border-bottom: 2px solid hsl(30, 20%, 90%);
	border-radius: 4px;
}

.character:hover {
	background-color: hsl(30, 100%, 90%);
	border: 1px solid hsl(30, 50%, 70%);
	border-bottom: 2px solid hsl(30, 50%, 70%);
}

.character:active {
	background-color: hsl(30, 100%, 80%);
}

#tooltip {
	position: absolute;
	padding: 5px;
	background-color: hsl(30, 80%, 40%);
	color: white;
	border-radius: 4px;
	font-size: 10px;
	z-index: 1000;
	visibility: hidden;
}

.hidden {
	visibility: hidden;
}

.selected {
  	background-color: hsl(30, 100%, 90%);
	border: 1px solid hsl(30, 80%, 40%);
	border-bottom: 2px solid hsl(30, 80%, 40%);
	border-radius: 4px;
}
